#g-footer {
    color: $footer-text-color;
    background: $footer-background;
    border-top: 2px solid $accent-color-1;
    @extend .section-paddings;

    .g-title {
		margin-bottom: 0;
        font-weight: $font-weight-regular;
        font-size: $core-font-size - 0.1;
        text-transform: uppercase;
        margin-top: $content-margin;
	}
    svg {
        opacity: 0.3;
    }
}

@media print {
    #g-footer  {
        background: #fff !important;
        color: #000 !important;
    }
}
