#g-header.g-portfolio {
	
	h1 {
		padding-top: 60px;
	}
}  


#g-utility.g-portfolio {
	padding-left: 0!important;
	padding-right: 0!important;
	padding-bottom: 0!important;

	text-align: center;

	* {
		font-family: brandongrotesque;
	}

	.portfolio-projects-featured {

		.modular-row.features { // every featured project
			background-color: $dark-green;
			max-width: 940px;
			height: 500px;
			margin: 0 auto 144px auto;
			position: relative;
			text-align: left;
			letter-spacing: 1px;

			p:last-of-type { // every featured projects image
				position: absolute;
				margin-bottom: 0;
			}

			p > a:only-child { // every featured projects button
				@extend .g-my-button;
				margin-top: 15px;
			}

			h1 {
				font-size: 2.5rem;
	    		font-weight: 400;
			}

			h3 {
				color: #a8f4b5;
				opacity: 0.8;
				text-transform: uppercase;
				font-size: 0.9rem;
				font-weight: normal;
				letter-spacing: 0px;
			}

			img:nth-child(1) { // first child images are the screen shot of the website
				display: none;
			}
		}

		> .g-grid:nth-child(odd) .modular-row.features {  // aligning captions

			> h1, > h2, > h3, p:first-of-type  {
				margin-right: 40px;
				margin-left: 530px;
				position: relative;
				top: 120px;
			}
		}

		> .g-grid:nth-child(even) .modular-row.features {  // aligning captions

			> h1, > h2, > h3, p:first-of-type {
				margin-right: 530px;
				margin-left: 64px;
				position: relative;
				top: 120px;
			}
		}

		> .g-grid:nth-child(1) .modular-row.features p:last-of-type { // pls site image position
			bottom: -36px;
			left: -72px;
		}

		> .g-grid:nth-child(2) .modular-row.features p:last-of-type { // farlington school site image position
			bottom: 0;
			right: 0;
		}

		> .g-grid:nth-child(3) .modular-row.features p:last-of-type { // shenton bonds site image position
			bottom: -26px;
			left: -72px;
		}

		> .g-grid:nth-child(4) .modular-row.features p:last-of-type { // Hambleton Hall site image position
			right: -86px;
			bottom: 20px;
		}
	}
}

#g-expanded.g-portfolio {
	background-color: rgba(0,0,0,0);
	padding-top: 0!important;
	padding-bottom: 0!important;

	.portfolio-header-2 {
		margin-bottom: 60px;
	}

	.portfolio-projects {
		margin-right: -2rem;

		.g-array-item-text {
			margin: 0!important;
		}

    	.modular-row.features { // every project
			background-color: #049E86;
			padding: 25px;
			text-align: center;
			position: relative;
			margin-bottom: 136px;
			max-width: 420px;
			height: 320px;
			overflow: visible;
			cursor: default;
			transition: 0.2s;

			h1 {
				transition: 0.2s;
				position: relative;
				top: 20px;
	    		font-size: 1.9rem;
	    		font-weight: 400;
			}

	    	h2 {
	    		margin-top: 15px;
	    		transition: 0.3s;
				max-height: 80px;
				overflow: hidden;
				font-size: 1.1rem;
				display: flex;
				align-items: center;
				justify-content: center;
	    	}

	    	h3 {
	    		margin: 0;
	    		min-height: 136px;
	    		padding-top: 20px;
	    		background-color: $mid-green;
				color: rgba(#a8f4b5, 0.9);
				text-transform: uppercase;
				letter-spacing: 0.4px;
				font-size: 0.9rem;
				text-align: left;
				font-weight: normal;
				position: absolute;
				top: 320px;
				left: 0px;
				z-index: 9999;
	    	}

			h2, p a:only-child {
				opacity: 0;
				position: relative;
				top: 30px;
			}

			p a:only-child {
				@extend .g-my-button;
				margin-top: 15px!important;
	    		transition: 0.3s;
			}

	    	img:nth-child(1) { // first child images are the screen shot of the website
	    		max-height: calc(100% - 100px);
	    		position: absolute;
	    		bottom: 0;
	    		left: 0;
	    		right: 0;
	    		max-width: 85%;
	    		margin: auto;
	    		transition: 0.5s;
	    		transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
	    	}

	    	img:nth-child(2) { // second-child images are the images for featured project section
	    		display: none;
	    	}

			&:hover {
				background-color: lighten(#049E86, 2%);

				h1 {
					top: 0;
				}

				h2, p a:only-child {
					opacity: 1;
					top: 0;
				}

	    		img:nth-child(1) {
	    			bottom: -100px;
	    			max-width: 65%;
	    			transition: 0.2s;
	    		}

			}
		}
	}
}